body {
	overflow: hidden;
	background-image: url('pp.png');
	/* Optionally, you can add more background properties */
	background-size: cover; /* Adjust the image to cover the entire body */
	background-repeat: no-repeat; /* Prevent the image from repeating */
	background-position: center; /* Center the background image */
}


canvas {
	position: absolute;
	top: 0;
	left: 0;
}
p {
	margin: 0 0;
	position: absolute;
	font: 16px Verdana;
	color: #eee;
	height: 25px;
	top: calc( 100vh - 30px );
	text-shadow: 0 0 2px white;
}
p a {
	text-decoration: none;
	color: #aaa;
}
span {
	font-size: 11px;
}
p > a:first-of-type {
	font-size: 20px;
}
body {
	overflow: hidden;
}